---
- name: Setup Nginx Web Server
  hosts: all
  become: true
  tasks:
    - name: Install nginx
      apt:
        name: nginx
        state: present
        update_cache: yes

    - name: Start and enable nginx
      service:
        name: nginx
        state: started
        enabled: yes

    - name: Create custom index page
      copy:
        content: "<h1>Hello from Ansible! Welcome to DevOps Hell!</h1><p>Server: {{ inventory_hostname }}</p>"
        dest: /var/www/html/index.html